{% extends 'blogs/header.html' %}

{% block content%}
<div class="row s12 m3">
    <h2 class="header">COVID-19</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="https://lorempixel.com/100/190/nature/6">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div> 

<div class="row s12 m3">
    <h2 class="header">how to install flutter in Mac OS</h2>
    <div class="card horizontal">
      <div class="card-image">
      <img src="{% static "blogs/images/001.JPEG" %}" rel="stylesheet">

 <!--     <img src="https://lorempixel.com/100/190/nature/6"> -->
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>   

  {% endblock %}